.lnavbar {
    overflow: hidden;
    display: flex;
    justify-content: space-around;
}

.lnavbar a {
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.ldropdown {
    float: left;
    overflow: hidden;
}

.ldropdown .ldropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.ldropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ldropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.ldropdown2-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 225px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ldropdown2-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.ldropdown3-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 225px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.ldropdown3-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.ldropdown-content a:hover {
    background-color: #ddd;
}

.ldropdown:hover .ldropdown-content {
    display: block;
}
.ldropdown2:hover .ldropdown2-content {
    display: inline;
}
.ldropdown3:hover .ldropdown3-content {
    display: inline;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto
}
.mapouter{
    position: relative;
    text-align: center;
    height: 560px;
    width: 700px;
}
.gmap_canvas{
    overflow: hidden;
    background: none !important;
    height: 560px;
    width: 700px;
}
